[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
coverage = "*"
pylint = "*"

[packages]
django = "*"
djangorestframework = "*"
pylint-django = "*"
djongo = "*"
pip = "*"
graphene-django = "*"
graphene = "*"
djangorestframework-jwt = "*"
django-cors-headers = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
