<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <script src="http://localhost:35729/livereload.js"></script>
  <title>Huu Thang: Facial Recognition</title>
  <style>
    body {
      font-family: 'Lato', sans-serif;
      font-size: 15px;
    }
  </style>
</head>

<body>
  <div id="app"><!-- React --></div>
</body>

{% load static %}
<script src="{% static "frontend/main.js" %}"></script>

</html>